<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dennis.amazichquiz">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".OefenMenuActivity" />
        <activity android:name=".SpeelMenuActivity" />
        <activity android:name=".OverActivity" />
        <activity android:name=".OefenDieren" />
        <activity android:name=".OefenFruit" />
        <activity android:name=".OefenInsecten" />
        <activity android:name=".SpeelDieren" />
        <activity android:name=".OefenGroente" />
        <activity android:name=".OefenDierenTwee" />
        <activity android:name=".OefenEten" />
        <activity android:name=".OefenKleding" />
        <activity android:name=".OefenWeer" />
        <activity android:name=".OefenKleuren" />
        <activity android:name=".SpeelDierenTwee" />
        <activity android:name=".SpeelEten" />
        <activity android:name=".SpeelFruit" />
        <activity android:name=".SpeelGroenten" />
        <activity android:name=".SpeelInsecten" />
        <activity android:name=".SpeelKleding" />
        <activity android:name=".SpeelKleuren" />
        <activity android:name=".SpeelWeer"></activity>
    </application>
</manifest>